<h2>Catalogue des livres</h2>

<form name="form">
    <p>
        Recherche : <input ng-model="state.searchText" name="searchText" ng-minlength="3"/>
        <span class="error" ng-show="form.searchText.$error.minlength">Trop court !</span>
    </p>
    <p>
        Prix minimum : <input type="number" ng-model="state.minPrice" name="minPrice"/>
        <span class="error" ng-show="form.minPrice.$error.number">Saisissez un nombre</span>
        <br/>
        Prix maximun : <input type="number" ng-model="state.maxPrice" name="maxPrice"/>
        <span class="error" ng-show="form.maxPrice.$error.number">Saisissez un nombre</span>
    </p>
    <p>
        <select ng-model="state.sort" ng-options="opt.label for opt in sortOptions"></select>
    </p>
</form>

<table id="catalog">
    <tr ng-repeat="book in books | filter:state.searchText
                                 | range:'price':state.minPrice:state.maxPrice
                                 | orderBy:state.sort.expression:state.sort.reverse">
        <td class="image">
            <a ng-href="#/book/{{book.isbn10}}"><img ng-src="data/img/{{book.isbn10}}.jpg"/></a>
        </td>
        <td class="info">
            <div class="title"><a ng-href="#/book/{{book.isbn10}}">{{book.title}}</a></div>
            <div>de <span class="author">{{book.author}}</span></div>
            <div class="price">{{book.price |currency}}</div>
        </td>
        <td class="rating">
            Note : <span class="rating" rating="book.rating"></span><br/>
            <em>sur <strong>{{book.votes}}</strong>
                <span ng-hide="book.votes > 1">vote</span>
                <span ng-show="book.votes > 1">votes</span>
            </em>
        </td>
    </tr>
</table>

