<h2>Catalogue des livres</h2>

<table id="catalog">
    <tr>
        <td class="image">
            <img src="data/img/xxxxxxxxxx.jpg"/>
        </td>
        <td class="info">
            <div class="title">Titre du livre</div>
            <div>de <span class="author">Auteur du livre</span></div>
            <div class="price">10 €</div>
        </td>
        <td class="rating">
            Note : <span class="rating">4</span><br/>
            <em>sur <strong>37</strong> votes</em>
        </td>
    </tr>
</table>

{{books}}
