<h2>Catalogue des livres</h2>

<form>
    <p>Recherche : <input ng-model="searchText"/></p>
</form>

<table id="catalog">
    <tr ng-repeat="book in books | filter:searchText">
        <td class="image">
            <img ng-src="data/img/{{book.isbn10}}.jpg"/>
        </td>
        <td class="info">
            <div class="title">{{book.title}}</div>
            <div>de <span class="author">{{book.author}}</span></div>
            <div class="price">{{book.price |currency}}</div>
        </td>
        <td class="rating">
            Note : <span class="rating">{{book.rating}}</span><br/>
            <em>sur <strong>{{book.votes}}</strong>
                <span ng-hide="book.votes > 1">vote</span>
                <span ng-show="book.votes > 1">votes</span>
            </em>
        </td>
    </tr>
</table>

